# Compiled Python files (note: *.py[cod] is equivalent to listing all of these: *.pyc *.pyo *.pyd)
__pycache__/
*.py[cod]

# Virtual environment
backend_env/

# Local SQLite database files (in case I end up using SQLite)
*.sqlite3

# Environment files
.env
