body {
    padding-left: 20px; /* Add some padding to the left side of the webpage */
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.searchbutton {
    margin-top: 20px;
}

.letter-input-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8px;
}

.textbox {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    width: 100px; /* Set the width of the textbox */
}


/* Login status styles */

.login-status-container {
    margin-top: 8px;
    width: 200px;  /* Fixed width for the container */
    margin-left: auto;  /* These two margin properties will right-align the container */
    margin-right: 20px;
}

.login-status {
    font-size: 14px;  /* Smaller font size for welcome text */
}

.logout-button {
    font-size: 12px;
    margin-top: 8px;
}


/* Responsive styles for smaller screens (e.g. mobile) */
@media screen and (max-width: 480px) {
    .textbox {
        width: 60px;
    }
}
